.hidden {
  transform: scaleY(0); 
  height: 0;   
  transform-origin: top;
  transition-property: height, transform;
  transition-duration:  0.26s;
  transition-timing-function: ease-out;
}

.visible {
  transform: scaleY(1);
  height: 100%;
  transform-origin: top;
  transition-property: height, transform;
  transition-duration:  0.26s;
  transition-timing-function: ease-out;
}

